$colorb: linear-gradient(to bottom, cadetblue, white);
body {
    background-image: $colorb;
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: left;
    font-weight: bolder;
    div{
        justify-content: center;
    }
}
.grid2 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 150px 200px 200px 200px 200px;
    font-weight: bolder;
}
.grid3 {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    font-weight: bolder;
    margin: 50px;
    padding: 50px;
    div{
        justify-content: center;
        align-content: center;
        border: 1px solid black;
    }
}
h2{
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    font-weight: bolder;
}
@keyframes color {
    0%{
        color: $colorb
    }
    50%{
        color: lightblue;
    }
    100%{
        color: blue;
    }
}
$index: (
  alin: center,
  fcolor: blue,
  font: 100px,
);
.welcome {
  text-align: map-get($index, alin);
  color: map-get($index, fcolor);
  font-size:map-get($index, font);
}
@mixin grillas {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    font-size: 25px;
    padding: 50px;
}
.grid4 {
    @include grillas;
}
.ind {
    text-align: left;
    padding: 25px;
    font-family: monospace
}
.ind2 {
    @extend .ind;
    color: grey;
}
.ind3 {
    @extend .ind;
    color: blueviolet
}
.ind4 {
    @extend .ind;
    color: lightseagreen
}
@media (max-width: 500px){
    .grid4{
        grid-template-columns: auto
    }
}